.bases-selection-tools {
  margin-top: 21px;

  display: flex;
  flex-direction: row;
  gap: 23px;
}

.right-side {
  margin-top: 1.5px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
