.drawing-section {
  margin-top: 39px;

  display: flex;
  flex-direction: column;
}

.content-container {
  margin: 13px 0px 0px 12px;

  display: flex;
  flex-direction: column;
}

.collapsed .content-container {
  display: none;
}
