.editing-form {
  width: 290px;
  height: 524px;

  overflow: auto;

  border-radius: 15px;

  border: 1px solid #cacae4;

  padding: 23px 16px 50px 36px;

  background-color: rgba(0, 0, 0, 0.88);
}

.header {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  font-weight: 700;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.content-container {
  margin: 27px 0px 0px 24px;

  /**
   * Prevents unwanted movement of the vertical scrollbar
   * when elements are deselected and reselected.
   */
  min-height: 2200px;

  display: flex;
  flex-direction: column;
  align-items: start;

  pointer-events: none;
}
