.container {
  position: relative;

  align-self: start;

  pointer-events: auto;
}

.light-solid-button {
  margin: 0px;

  border: none;

  padding: 3px 15px;
  border-radius: 2px;

  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  color: #001010;

  background-color: #78dada;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: auto;
}

.disabled {
  color: #378f8f;

  pointer-events: none;
}

.light-solid-button:hover {
  background-color: #329a9a;
}

.light-solid-button:active {
  background-color: #1b7474;
}

.light-solid-button:focus {
  outline: none;
}
