.numberings-selection-tools {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
