.numberings-num-selected {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
