.outlines-section {
  margin-top: 22px;

  display: flex;
  flex-direction: column;
}

.content {
  margin: 10px 0px 0px 12px;

  display: flex;
  flex-direction: column;
}

.num-selected {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.collapsable-content {
  margin-top: 17px;

  display: flex;
  flex-direction: column;

  display: none;
}

.open .collapsable-content {
  display: block;
}

.select-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-section-label {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.z-section {
  margin-top: 21px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.z-section-label {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
