.outlines-section {
  margin-top: 18px;

  display: flex;
  flex-direction: column;
}

.content {
  margin: 8px 0px 0px 12px;

  display: flex;
  flex-direction: column;
}

.num-selected {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.collapsable-content {
  margin-top: 14px;

  display: flex;
  flex-direction: column;

  visibility: collapse;
}

.open .collapsable-content {
  visibility: visible;
}

.select-section {
  margin-top: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-section-label {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
