.secondary-bonds-selection-tools {
  margin-top: 23px;

  display: flex;
  flex-direction: row;
  gap: 23px;
}

.right-side {
  margin-top: 1.5px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
