.text-input {
  border-radius: 2px;

  border: none;
  outline: none;

  width: 90px;

  padding: 3px 6px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: white;

  background-color: #e0e0eb;

  pointer-events: auto;
}

.text-input:focus {
  border-color: #0a0a0b;

  outline: none;
}
